:root {
  --padding: 50px;
  --space: 1px;
  --space-ratio: 0.5;
  --space-interval: calc(2 * var(--space-ratio));
  --space-100: var(--space);
  --space-200: calc(var(--space-interval) * var(--space-100));
  --space-300: calc(var(--space-interval) * var(--space-200));
  --space-400: calc(var(--space-interval) * var(--space-300));
  --space-500: calc(var(--space-interval) * var(--space-400));
  --space-600: calc(var(--space-interval) * var(--space-500));
  --space-700: calc(var(--space-interval) * var(--space-600));
  --space-800: calc(var(--space-interval) * var(--space-700));
  --space-900: calc(var(--space-interval) * var(--space-800));
}
