:root {
  --font-size: 18px;
  --font-size-interval: var(--interval);
  --font-size-100: calc(var(--font-size-200) / var(--font-size-interval));
  --font-size-200: calc(var(--font-size-300) / var(--font-size-interval));
  --font-size-300: calc(var(--font-size-400) / var(--font-size-interval));
  --font-size-400: var(--font-size);
  --font-size-500: calc(var(--font-size-interval) * var(--font-size-400));
  --font-size-600: calc(var(--font-size-interval) * var(--font-size-500));
  --font-size-700: calc(var(--font-size-interval) * var(--font-size-600));
  --font-size-800: calc(var(--font-size-interval) * var(--font-size-700));
  --font-size-900: calc(var(--font-size-interval) * var(--font-size-800));
  --font-size-base: var(--font-size);
  --font-size-text: var(--font-size);
  --font-size-title: var(--font-size-700);
  --font-size-heading: var(--font-size-600);
  --font-size-decorative: var(--font-size-500);
  --font-size-subhead: var(--font-size-400);
  --font-size-caption: var(--font-size-300);
  --font-size-micro: var(--font-size-200);
  --interval: 1.5;
}
