body {
  font-family: var(--font-family-base);
  line-height: var(--line-height);
  margin: 0;
  padding: var(--space-500) var(--space-600);
}
.app {
  display: flex;
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
}
iframe {
  border: none;
  width: 100%;
  height: 100%;
}
#canvas {
  width: 100%;
  height: 100%;
}
a {
  color: hsl(var(--hue-primary), 85%, 45%);
  &:hover {
    color: hsl(var(--hue-primary-shift), 85%, 45%);
  }
}
h1, h2 {
  font-family: var(--font-family-display);
}
h1 {
  font-size: var(--font-size-title);
  margin: var(--space-500) 0 var(--space-400);
}
h2 {
  font-size: var(--font-size-heading);
  margin: var(--space-400) 0 var(--space-300);
}
blockquote {
  font-size: var(--font-size-decorative);
  font-style: italic;
}
form {
  background: hsl(var(--hue-secondary), 15%, 85%);
  padding: var(--space-500);
}
input {
  border: 1px solid black;
  padding: var(--space-100) var(--space-200);
}
button {
  background: hsl(var(--hue-primary), 85%, 45%);
  border: none;
  color: white;
  font-weight: bold;
  padding: var(--space-100) var(--space-200);
  &:hover {
    background: hsl(var(--hue-primary-shift), 85%, 45%);
  }
}
