:root {
  --padding: 50px;
  --font-size: 18px;
  --font-size-interval: var(--interval);
  --font-size-100: calc(var(--font-size-200) / var(--font-size-interval));
  --font-size-200: calc(var(--font-size-300) / var(--font-size-interval));
  --font-size-300: calc(var(--font-size-400) / var(--font-size-interval));
  --font-size-400: var(--font-size);
  --font-size-500: calc(var(--font-size-interval) * var(--font-size-400));
  --font-size-600: calc(var(--font-size-interval) * var(--font-size-500));
  --font-size-700: calc(var(--font-size-interval) * var(--font-size-600));
  --font-size-800: calc(var(--font-size-interval) * var(--font-size-700));
  --font-size-900: calc(var(--font-size-interval) * var(--font-size-800));
  --font-size-base: var(--font-size);
  --font-size-text: var(--font-size);
  --font-size-title: var(--font-size-700);
  --font-size-heading: var(--font-size-600);
  --font-size-decorative: var(--font-size-500);
  --font-size-subhead: var(--font-size-400);
  --font-size-caption: var(--font-size-300);
  --font-size-micro: var(--font-size-200);
  --space: 16px;
  --space-ratio: 1.5;
  --space-interval: calc(2 * var(--space-ratio));
  --space-100: calc(var(--space-200) / var(--space-interval));
  --space-200: calc(var(--space-300) / var(--space-interval));
  --space-300: calc(var(--space-400) / var(--space-interval));
  --space-400: var(--space);
  --space-500: calc(var(--space-interval) * var(--space-400));
  --space-600: calc(var(--space-interval) * var(--space-500));
  --space-700: calc(var(--space-interval) * var(--space-600));
  --space-800: calc(var(--space-interval) * var(--space-700));
  --space-900: calc(var(--space-interval) * var(--space-800));
  --interval: 1.5;
}
body {
  display: flex;
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
}
h1 {
  font-size: var(--font-size-title);
  margin: var(--space-500) 0 var(--space-400);
}
h2 {
  font-size: var(--font-size-heading);
  margin: var(--space-400) 0 var(--space-300);
}
blockquote {
  font-size: var(--font-size-decorative);
  font-style: italic;
}
form {
  border: solid 2px black;
  padding: var(--space-500);
}
#canvas {
  padding: var(--space-500) var(--space-600);
}
#tools {
  --font-size: 12px;
  --padding: 12px;
  background: #EEE;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  color: black;
  font-family: system-ui, system, sans-serif;
  font-size: var(--font-size);
  font-weight: 500;
  padding: 0 var(--padding);
}
#tools details {
  margin: var(--padding) 0;
}
#tools details:first-child {
  margin-top: 0;
}
#tools summary {
  background: rgba(0, 0, 0, 0.4);
  border-top: solid 1px rgba(255, 255, 255, 0.25);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: var(--font-size);
  font-weight: 600;
  margin: 0 calc(-1 * var(--padding));
  padding: 4px var(--padding);
}
#tools label {
  display: block;
  margin-top: var(--font-size);
}
